
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Html.Partial("partial/_css")

    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/favicon.png">

    @Html.Partial("partial/_script")

    <title>KingFisher | @ViewBag.Title</title>
</head>
<body>
    <div id="wrapper">
        @Html.Partial("partial/_navbarTop")

        @Html.Partial("partial/_sidebarLeft")

        <div class="main" id="content-body">
            <!-- MAIN CONTENT -->
            @RenderBody()
            <!-- END MAIN CONTENT -->
        </div>

        @Html.Partial("partial/_footer")
    </div>
</body>
</html>

@RenderSection("js", false)

<script src="~/scripts/effectModul.js"></script>
<script src="~/scripts/togglebtn.js"></script>
<script src="~/Scripts/getdata.js"></script>
