
@{
    Layout = null;
}

@model Kingfisher.Admin.UI.Models.ComplexVm


<div class="col-md-offset-1 col-md-6">

    <form id="update-form" action="/book/update" class="form-horizontal" style="display:block;" method="post">
        <div class="form-group">
            <label for="Name">Name :</label>
            <input type="text" name="Name" value="@Model.book.Name" class="form-control" id="form-name" />
            <input type="hidden" name="Id" value="@Model.book.Id" class="form-control" id="form-id" />
        </div>
        <div class="form-group">
            <label for="Price">Price :</label>
            <input type="number" name="Price" value="@Model.book.Price" class="form-control" id="form-price" />
        </div>
        <div class="form-group">
            <label for="Stock">Stock :</label>
            <input type="number" name="Stock" value="@Model.book.Stock" class="form-control" id="form-stock" />
        </div>
        <div class="form-group">
            <label for="Quantity">Quantity :</label>
            <input type="text" name="Quantity" value="@Model.book.Quantity" class="form-control" id="form-quantity" />
        </div>
        <div class="form-group">
            <label for="Category">Category :</label>
            <select data-theme="a" data-mini="true" name="Category" id="Category">
                <option value="">Select Category </option>
                @foreach (var item in Model.AllList.Categories)
            {
                    <option value="@item.Id" class="form-control">@item.Name</option>
                }

            </select>
        </div>

        <div class="form-group">
            <label for="Publisher">Publisher :</label>
            <select data-theme="a" data-mini="true" name="Publisher" id="Publisher">
                <option value="">Select Publisher </option>
                @foreach (var item in Model.AllList.Publishers)
            {
                    <option value="@item.Id" class="form-control">@item.Name</option>
                }

            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" name="" />
        </div>

    </form>
</div>

